name: Build Flutter APK

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get
        working-directory: flutter/flutter_application_1
        
      - name: Build APK (Debug)
        run: flutter build apk --debug
        working-directory: flutter/flutter_application_1

      - name: Build APK (Release)
        run: flutter build apk --release
        working-directory: flutter/flutter_application_1
        
      - uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: flutter/flutter_application_1/build/app/outputs/flutter-apk/app-debug.apk

      - uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: flutter/flutter_application_1/build/app/outputs/flutter-apk/app-release.apk
